.subtitle{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}
.main{
    padding: 0 100px;
}
.main__title{
    font-size: 40px;
    color: #D49726;
    text-align: center;
    margin: 35px 0;
    font-weight: 500;
}
.main__description{
    font-size: 16px;
    text-align: center;
}
.main__block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
}
img{
    border-radius: 8px;
    box-shadow: 10px 12px 29px -14px rgba(0,0,0,.75);
    object-fit: cover;
    width: 50%;
    display: block;
    margin: 0 auto;
}